@import url("https://use.typekit.net/onc3gku.css");


* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 8px;
  z-index: -1;
}

body {
  min-height: 100vh;
  /* height: auto; */
  /* padding: 3rem; */
}

/* main {
  position: relative;
  box-sizing: border-box;
} */

article {
  opacity: 0;
}

h1 {
  text-rendering: geometricPrecision;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: dharma-gothic-e, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
h2 {
  text-rendering: geometricPrecision;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: dharma-gothic-e, sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
}
h3 {
  text-rendering: geometricPrecision;
  font-family: dharma-gothic-e, sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
h5 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
h6 {
  font-family: dharma-gothic-e, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300
}
li {
  font-size: 2rem;
}
a {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 2rem;
}

path {
  transition: fill 200ms;
}

pre {
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #0c0c0c;
    /* background-image: linear-gradient(150deg, rgba(255,0,255, 0.05), rgba(0, 255,255, 0.05)); */
    color: white
  }
  a {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html, body {
    background: #eeeeee;
    /* background-image: linear-gradient(150deg, rgba(162, 0, 255, 0.05), rgba(3, 218, 207, 0.05)); */
    color: black !important;
  }
  a {
    color: black;
  }
}


/* Custom scroll bars */
/* width */
/* ::-webkit-scrollbar {
  width: 20px;
  height: 20px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: none;
  background: black;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  margin: 4px;
  transform: scale(0.8);
} */

/* ::-webkit-resizer {
  background: black;
  color: black;
} */



section {
  margin-bottom: 4rem;
}